.c-timeline{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline{
    height: auto;
    width: 80%;
    max-width: 50%;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 40px;

}
.timeline ul li{
    padding: 20px;
    background: chocolate;
    color: #000;
    border-radius: 4px;
    margin-bottom: 20px;
}
.timeline ul li:nth-child(1){
    background: #80d8ff;
}
.timeline ul li:nth-child(2){
    background: #b9f6ca;
}
.timeline ul li:nth-child(3){
    background: #f9fbe7;
}
.timeline ul li:nth-child(4){
    background: #ccff90;
}
.timeline ul li:nth-child(5){
    background: #84ffff;
}
.timeline ul li:last-child{
    margin-bottom: 0;
}
.t-content h3{
    letter-spacing: .0125em;
    line-height: 2rem;
    word-break: break-all;
}
.t-content p{
    font-size: 14px;
}
@media all and (min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        background: grey;
        transform: translateX(-50%)
    }
    .timeline ul li{
        width: 100%;
        margin-bottom: 30px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: right;
        clear: left;
        right: -60%;
        /* transform: translateX(60%) */
    }
    .timeline ul li:nth-child(even){
        float: left;
        clear: right;
        left: -60%;
        /* transform: translateX(-60%) */
    }
    .timeline ul li:nth-child(odd)::before{
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #4caf50;
        border: 2px solid white;
        top: calc(100% - 80px);
        transform: translate(50% -50%);
        left: -12.9%;
        transform: translateX(-100%)
    }
    .timeline ul li:nth-child(even)::before{
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #4caf50;
        border: 2px solid white;
        top: calc(100% - 80px);
        transform: translate(50% -50%);
        right: -9.5%;
    }
    .timeline ul li:nth-child(1)::after{
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #80d8ff;
        top: calc(100% - 90px);
        transform: translate(50% -50%);
        left: -2%;
    }
    .timeline ul li:nth-child(2)::after{
        right: 0;
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #b9f6ca;
        top: calc(100% - 90px);
        transform: translate(50% 50%);
        right: -2%;
    }
    .timeline ul li:nth-child(3)::after{
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #f9fbe7;
        top: calc(100% - 90px);
        transform: translate(50% -50%);
        left: -2%;
    }
    .timeline ul li:nth-child(4)::after{
        right: 0;
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #ccff90;
        top: calc(100% - 90px);
        transform: translate(50% 50%);
        right: -2%;
    }
    .timeline ul li:nth-child(5)::after{
        content: '';
        position: absolute;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #84ffff;
        top: calc(100% - 90px);
        transform: translate(50% -50%);
        left: -2%;
    }

}

@media all and (min-width: 1024px){
    .timeline ul li:nth-child(odd)::before{
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #4caf50;
        border: 2px solid white;
        top: calc(100% - 80px);
        transform: translate(50% -50%);
        left: -13.5%;
        transform: translateX(-50%)
    }
}
@media all and (max-width: 768px){
    .timeline{
        width: 100%;
        max-width: 100%;
    }
}



/* business section styling */
.main-b{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
    text-align: center;
}
@media all and (max-width: 900px){
  .main-b {
      width: 80%;
  }
  .main-b p{
      font-size: 24px;
  }
}
.main-b h4,p{
    padding-top: 20px;
}
.main-b h4{
    color: #2196f3;
    font-size: 34px;
    font-weight: 400;
}
.main-b p{
  font-size: 34px;
  font-weight: 400;
}
.main-b input[type="submit"]{
    margin-top: 20px;
    padding: 5px 20px;
    height: 36px;
    color: white;
    font-weight: 700;
    background: #4caf50;
    outline: none;
    border: none;
    border-radius: 4px;
}

/* images */
.image-container{
   overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    flex-wrap: wrap;
}
.left-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.right-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}
@media all and (max-width: 1500px){
    .left-img img{
        width: 400px;
    }
    .right-img img{
        margin: 20px;
        width: 400px;
    }
}
@media all and (max-width: 897px){
    .right-img img{
        
    }
}