html{
    scroll-behavior: smooth;
  }
  
  
  .wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
    color: #000;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 2px;
    background: #c5c5c5;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-end;
  }
  .wrapper .row-2{
    justify-content: flex-start;
  }
  .wrapper .row article{
    background: green;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row .c-1{
      background: #80d8ff;
  }
  .wrapper .row .c-2{
      background: #b9f6ca;
  }
  .wrapper .row .c-3{
      background: #f9fbe7;
  }
  .wrapper .row .c-4{
      background: #ccff90;
  }
  .wrapper .row .c-5{
      background: #84ffff;
  }
  .wrapper .row article::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #b9f6ca;
    top: 80px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .wrapper .row .c-1::before{
      background: #80d8ff;
  }
  .wrapper .row .c-2::before{
      background: #b9f6ca;
  }
  .wrapper .row .c-3::before{
      background: #f9fbe7;
  }
  .wrapper .row .c-4::before{
      background: #ccff90;
  }
  .wrapper .row .c-5::before{
      background: #84ffff;
  }
  .row-1 article::before{
    left: -7px;
  }
  .row-2 article::before{
    right: -7px;
  }
  .row article .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #81c784;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff; 
    font-size: 17px;
    border: 2px solid #fff;
   
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 article .icon{
    top: 76px;
    left: -50px;
  }
  .row-2 article .icon{
    top: 76px;
    right: -50px;
  }
  .row article .details{
      display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .row article .details .title{
    font-size: 20px;
    font-weight: 500;
  }
  .row article p{
    font-size: .875rem;
    margin: 10px 0 17px 0;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
    color: #356666;
  }
  
  .row article .bottom a{
    text-decoration: none;
    background: #84ffff; 
    color: #fff;
    right: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 17px;
  }
  
  .row article .bottom a:hover{
    transform: scale(0.97);
  }
  
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row article{
      width: 100%;
    }
    .row-1 article::before{
      right: -7px;
    }
    .row-1 article .icon{
      right: -50px;
    }
    .row-2 article::before{
      left: -7px;
    }
    .row-2 article .icon{
      left: -50px;
    }
    
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row article::before,
    .row article .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }



/* business article styling */
.main-b{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
    text-align: center;
}
@media all and (max-width: 900px){
  .main-b {
      width: 80%;
  }
  .main-b p{
      font-size: 24px;
  }
}
.main-b h4,p{
    padding-top: 20px;
}
.main-b h4{
    color: #2196f3;
    font-size: 34px;
    font-weight: 400;
}
.main-b p{
  font-size: 34px;
  font-weight: 400;
}
.main-b input[type="submit"]{
    margin-top: 20px;
    padding: 5px 20px;
    height: 36px;
    color: white;
    font-weight: 700;
    background: #4caf50;
    outline: none;
    border: none;
    border-radius: 4px;
}

/* images */
.image-container{
   overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    flex-wrap: wrap;
}
.left-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.right-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}
@media all and (max-width: 1500px){
    .left-img img{
        width: 500px;
    }
    .right-img img{
        width: 500px;
    }
}
@media all and (max-width: 1099px){
    .right-img img{
        margin: 20px;
    }
}